<!DOCTYPE HTML>

<html lang="ru_RU">
    <head>
        <title>Select file to upload</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    </head>

    <body>
        <div class="contentHolder">
            <div class="selectHolder">

                <form action="/upload" method="post" id="imageToResize" enctype="multipart/form-data">
                    <div class="selectors">

                        <div class="fileSelect">
                            <label for="choose_image_button">
                                <div>
                                    Select file to upload
                                </div>
                            </label>
                            <div class="selectFileWrapper">
                                <button class="btn">Upload a file</button>
                                <input name="file" type="file" id="file"/>
                            </div>
                            <input type="submit" value="Upload" id="resize_image_button">
                        </div>

                        <div class="parametersSelect">
                            <div class="sliderAndValue">
                                <input type="text" id="text_width" inputmode="numeric" name="width">
                                <input type="range" id="range_width" min="1" max="9999" oninput="text_width.value=range_width.value">
                                <span>W</span>
                            </div>
                            <div class="sliderAndValue">
                                <input type="text" id="text_height" inputmode="numeric" name="height">
                                <input type="range" id="range_height" min="1" max="9999" oninput="text_height.value=range_height.value">
                                <span>H</span>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </body>
</html>