<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/uploaded.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Sorry, page {{ page }} does not exists.</title>
</head>
<body>
    <div class="contentHolder">
        <div class="uploadedFrame">
            <p> Image id: {{ imageID }} </p>
            <p> <b>Download url:</b> <a href="{{ downloadURL }}" download="{{ downloadURL }}">{{ downloadURL.split("/")[-1] }}</a> </p>
        </div>
    </div>
</body>
</html>
