.errorBox {
    display: inline-block;
    position: fixed;
    margin: 0 auto;
    top: 25%;
    left: 25%;
    width: 50%;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.errorMessage {
    display: inline-block;
    font: 20px Arial;
    overflow-wrap: break-word;
}

.errorBox img {
    margin-bottom: 5px;
    margin-left: 25px;
    vertical-align: middle;
    display: inline-block;
    width: 50px;
}